[submodule "classlib"]
	path = classlib
	url = git@github.com:fjhickernell/HickernellClassLib.git
	branch = main
[submodule "qmcsoftware"]
	path = qmcsoftware
	url = https://github.com/QMCSoftware/QMCSoftware.git
	branch = develop
[submodule "assets/tests/archive"]
	path = assets/tests/archive
	url = git@github.com:fjhickernell/HickernellTestArchive.git
